nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #121212;
  padding: 20px;
}

.nav > * {
  margin: 0 20px;
}

nav  a{
  color: #fef545;
}

form {
  display: flex;
}

input {
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0 2px;
}

form button {
  margin: 0 10px;
  height: 35px;
  width: 35px;
}

form button svg {
  color: #000;
}